* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    width: 1440px;
    margin: auto;
    background-color: dodgerblue;
}

.container>h1 {
    text-align: center;
}

form{
    width: 80%;
    margin-left: 80px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#input1{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(218, 213, 213);
    margin-right: 50px;
    padding-left: 15px;
}
#input2{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(218, 213, 213);
    margin-right: 50px;
    padding-left: 15px;
}
#input3{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(218, 213, 213);
    margin-right: 50px;
    padding-left: 15px;
}
.form_collection_two{
    margin-top: 50px;
}
#input4{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: gray;
    background-color: rgb(218, 213, 213);
    padding-left: 15px;


}
#input5{
    width: 660px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(218, 213, 213);
    margin-left: 50px;
    padding-left: 15px;
}
#form_add{
    width: 80px;
    height: 30px;
    background-color: rgb(8, 244, 8);
    border: none;
    color: #fff;
}

#collection_list{
    width: 80%;
    height: 600px;
    margin-left: 80px;
    margin-top: 100px;
}
.item_list{
    width: 100%;
    height: 200px;
    background-color: #fff;
    animation: bounce 0.5s;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
}

@keyframes bounce {
    0% {
        transform: scale(0);
    }

    20% {
        transform: scale(1);
    }

    40% {
        transform: scale(0.8);
    }

    60% {
        transform: scale(1);
    }

    80% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}
.img_list{
    width: 200px;
    height: 80%;
    border-radius: 10px;
}
.text_list{
    width: 400px;
    height: 100%;
}
.funcsiya_list{
    width: 300px;
    height: 100%;
}
.but_one{
    width: 200px;
    height: 50px;
    background-color: #ff0000;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    margin-left: 30px;
}
.but_two{
    width: 200px;
    height: 50px;
    background-color: #ffff00;
    border-radius: 10px;
    border: none;
    margin-left: 30px;
}
.but_three{
    width: 200px;
    height: 50px;
    background-color: #04ef04;
    border-radius: 10px;
    border: none;
    margin-left: 30px;
}
.nomi_text{
    font-size: 16px;
    font-family: sans-serif;
    
}
